/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB           &kp SINGLE_QUOTE  &kp COMMA  &kp PERIOD  &kp P  &kp Y        &kp F      &kp G  &kp C     &kp R  &kp L  &kp BSPC
&kp LEFT_SHIFT    &kp A             &kp O      &kp E       &kp U  &kp I        &kp D      &kp H  &kp T     &kp N  &kp S  &kp MINUS
&kp LEFT_CONTROL  &kp SEMICOLON     &kp Q      &kp J       &kp K  &kp X        &kp B      &kp M  &kp W     &kp V  &kp Z  &kp BACKSLASH
                                               &kp LGUI    &mo 1  &kp SPACE    &kp ENTER  &mo 2  &kp RALT
            >;
        };

        lower_layer {
            bindings = <
&kp GRAVE         &kp N1         &kp N2          &kp N3            &kp N4        &kp N5       &kp N6             &kp N7           &kp N8            &kp N9             &kp N0   &kp BSPC
&kp LEFT_SHIFT    &kp F1         &kp F2          &kp F3            &kp F4        &kp F5       &kp F6             &kp F7           &kp F8            &kp F9             &kp F10  &kp EQUAL
&kp LEFT_CONTROL  &kp SEMICOLON  &kp LEFT_ARROW  &kp DOWN_ARROW    &kp UP_ARROW  &kp RIGHT    &kp PAGE_UP        &kp PAGE_DOWN    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans   &kp SLASH
                                                 &kp LEFT_COMMAND  &none         &kp SPACE    &kp RIGHT_BRACKET  &kp RIGHT_SHIFT  &kp RALT
            >;
        };

        raise_layer {
            bindings = <
&kp ESCAPE        &kp NUMBER_1   &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5              &kp NUMBER_6  &kp N7         &kp N8    &kp N9    &kp RIGHT  &kp BSPC
&kp LEFT_SHIFT    &kp F1         &kp F2        &kp F3        &kp F4        &kp F5              &kp F6        &kp LEFT       &kp F8    &kp F9    &kp F10    &kp F11
&kp LEFT_CONTROL  &kp SEMICOLON  &trans        &kp DOWN      &kp UP_ARROW  &trans              &kp PAGE_UP   &kp PAGE_DOWN  &kp LBRC  &kp RBRC  &kp PIPE   &kp TILDE
                                               &kp LGUI      &trans        &kp LEFT_BRACKET    &kp ENTER     &trans         &kp RALT
            >;
        };
    };
};
